<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fornitore">
      <h2 data-cy="fornitoreDetailsHeading"><span jhiTranslate="econApp.fornitore.detail.title">Fornitore</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fornitore.id }}</span>
        </dd>
        <dt><span jhiTranslate="econApp.fornitore.nomeFornitore">Nome Fornitore</span></dt>
        <dd>
          <span>{{ fornitore.nomeFornitore }}</span>
        </dd>
        <dt><span jhiTranslate="econApp.fornitore.indirizzo">Indirizzo</span></dt>
        <dd>
          <span>{{ fornitore.indirizzo }}</span>
        </dd>
        <dt><span jhiTranslate="econApp.fornitore.tipo">Tipo</span></dt>
        <dd>
          <span>{{ fornitore.tipo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/fornitore', fornitore.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
